body {
  font-family: 'Lato', sans-serif;
  background-color: #7B241C;
  color: #FFFFFF;
}
/*general*/
.fa {
  padding: 0px;
}

input {
  margin: 1rem;
  padding: 1rem;
  max-width: 90%;
}

input[type="button"]{
  background: rgba(0, 0, 0, 0);!important;
  color:#FFFFFF!important;
}

input[type="checkbox"], label{
  position: static!important;
  margin:1rem!important;
}
@media (min-width: 768px){
.col-sm-offset-2 {
    margin: 0!important;
}
}
/*navigation*/

.navbar {
  border-radius: 0px;
  border: 0px;
  background-color: #641E16;
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

.navbar li{
  list-style: none;
}

.navbar-default .navbar-nav a {
  color: #FFFFFF!important;
  font-weight: 500;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFFFFF!important;
  font-weight: 500;
  text-decoration: none!important;
}

a:hover{
  text-decoration: none!important;
}

.navbar-default a {
  color: white!important;
}

.navbar .navbar-brand {
  color: #FFFFFF!important;
  font-weight: 500;
  font-size: 18pt;
}

.navbar .fa {
  color: #FFFFFF;
  padding-right: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #FFFFFF;
}

.dropdown-header {
  font-size: 13px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
}


/*content*/

.content {
  padding: 15px 60px 15px 15px;
}

.content span {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.8;
}

.content h1 {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

/*footer*/
footer {
  padding: 20px 0px 30px 0px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 0px solid #FFFFFF;
}

footer a:visited {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 0px solid #FFFFFF;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}

.footerbrand {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 32pt;
  margin-bottom: 25px;
}

.brand1 {
  color: #FFFFFF;
}

.brand2 {
  color: #FFFFFF;
}

.footerdivider {
  color: #FFFFFF;
  padding-left: 8px;
  padding-right: 8px;
}

.faicon {
  color: #FFFFFF;
  font-size: 20pt;
  padding-left: 4px;
}


/*for pixelarts*/

.pixel {
  border: 0px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}


/*responsive line breaks*/

.rl {
  display: block;
}

@media screen and (min-width: 768px) {
  .rl {
    display: inline;
  }
  .footerbrand {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 28pt;
    margin-bottom: 25px;
  }
  .changes {
    padding-left: 50px;
    padding-right: 50px;
  }
}
