/*general*/
html {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  color: #FFFFFF;
}
#wrap {
  min-height: 100%;
  padding: 0px 0px 50px 0px; /* this needs to be bigger than footer height*/
  background: #FF3529; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF3529, #9B1E16); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF3529, #9B1E16); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF3529, #9B1E16); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF3529, #9B1E16); /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
}
#main {
    overflow:auto;
}
.container-fluid{
  color: white;
}
footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
}
a {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
}
/*general*/
.fa {
  padding: 0px;
}
.arrowback  {
  background-color: rgba(255,255,255,0);
  padding: 10px 4px 10px 4px;
}
input {
  margin: 1rem;
  padding: 1rem;
  max-width: 90%;
}

input[type="button"]{
  color:#FFFFFF!important;
}

input[type="checkbox"], label{
  position: static!important;
  margin:1rem!important;
}
span {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.8;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

.fa {
  padding: 0px;
}

/*navigation*/

.navbar {
  border-radius: 0px;
  border: 0px;
  background-color: #A2140D;
  font-family: 'Lato', sans-serif;
  margin: 0px;
    box-shadow: 0px 1.5px #7B0903;
}

.navbar li{
  list-style: none;
}

.navbar-default .navbar-nav a {
  color: #FFFFFF!important;
  font-weight: 500;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFFFFF!important;
  font-weight: 500;
  text-decoration: none!important;
}
.navbar-default a {
  color: white!important;
}
.navbar .navbar-brand {
  color: #FFFFFF!important;
  font-weight: 500;
  font-size: 18pt;
}
.navbar .fa {
  color: #FFFFFF;
  padding-right: 3px;
}
/*content*/
.btn-default {
  border: 0px;
  border-radius: 0px;
  background-color: #87110B;
  box-shadow: 0px 2px #65120A;
  transition-delay: 0.2s;
  color: #FFFFFF;
}
.btn-default:hover{
  border: 0px;
  border-radius: 0px;
  background-color: #94130C;
  box-shadow: 0px 2px #65120A;
  color: #FFFFFF;
}
.btn-link {
  color: #FFFFFF;
}
.btn-link:hover {
  color: #FFFFFF;
}
#addtask {
  margin-top: 10px;
}
.content {
  padding: 15px 15px 15px 15px;
  margin-bottom: 6rem;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: rgba(0,0,0,0);
    background-image: none;
    border: 1.5px solid rgba(255,255,255,0.85);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition-delay: 0.2s;
}
.form-control:focus {
  border-color: rgba(255,255,255,1);
    outline: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}
.form-control::placeholder {
  color: rgba(255,255,255,0.6);
}
/*main*/
.tile {
  padding: 12px;
  margin: 4px;
  background-color: #87110B;
  box-shadow: 0px 1.5px #65120A;
  background-color: #A92119;
  }
.tile:hover {
  box-shadow: 0px 0px rgba(0,0,0,0);
  background-color: #94130C;
}
.tile h3 {
  margin: 0px;
}
.tile p {
  margin: 0px;
}





/*table*/
table {
  width: 100%;
  color: #FFFFFF;
  border-spacing: 0px 2px!important;
}
th {
  text-align: center;
  font-weight: 100;
  padding: 4px 0px 4px 0px;
}
td {
  padding: 4px;
}
.td-right {
  text-align: right;
  padding-right: 10px;
}
tr:nth-child(even) {background-color: rgba(0,0,0,0.2);}
tr:nth-child(odd) {background-color: rgba(0,0,0,0.3);}

.taskdescription {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  width: 80%;
}








/*footer*/
footer {
  padding: 20px 0px 30px 0px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 0px solid #FFFFFF;
  transition-delay: 0.2s;
}

footer a:visited {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 0px solid #FFFFFF;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}

.footerbrand {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 32pt;
  margin-bottom: 25px;
}
.footerdivider {
  color: #FFFFFF;
  padding-left: 8px;
  padding-right: 8px;
}

.faicon {
  color: #FFFFFF;
  font-size: 20pt;
  padding-left: 4px;
}
/*responsive line breaks*/

.rl {
  display: block;
}
@media screen and (min-width: 768px) {
  .col-sm-offset-2 {
      margin: 0!important;
  }
  .rl {
    display: inline;
  }
  .footerbrand {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 28pt;
    margin-bottom: 25px;
  }
  .changes {
    padding-left: 50px;
    padding-right: 50px;
  }
}
