@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html{
	font-family: 'Noto Sans', sans-serif;
	background: rgb(200,200,200);
	color: rgb(20,20,20);
}
header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height:4rem;
	background: #00ccff;
	color:white;
}
